*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container{
  display: grid;
  height: 100vh;
  background-color:  hsl(30, 38%, 92%);
  grid-template-columns:250px 400px;
  justify-content: center;
  align-items: center;
}

@media (max-width:400px){
  .container{
    display:grid;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    grid-template-columns: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom:200px
  }
}
.image img{
  max-width: 100.6%;
  border-radius: 1em 0 0 1em;
  margin-top:4px;
}

.details{
  display: grid;
  grid-template-rows:70px 70px 70px 70px 55px;
  background-color: white;
  border-radius: 0 1.5rem 1.5rem 0;
  text-align: left;
  padding-left:30px ;
  margin-left:2px;
}
.title p{
  padding-top:30px;
  font-family: "Montserrat", sans-serif;
  font-size:1rem;
  color:hsl(228, 12%, 48%);
  letter-spacing: 0.3em;
}

.heading h1,.rate{
  font-size:2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 1;
  width: 200px;
  margin:  0 0 0.7em 0;
}
.para , s{
  font-family: "Montserrat", sans-serif;
  width: 96%;
  color:hsl(228, 12%, 48%);
  font-size:1rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  padding-top:15px;
}

.rate{
  color: hsl(158, 36%, 37%);
  padding-top:10px;
  margin-right: 0.3em;
}
button{
  display: block;
  margin: 0 0 1em 0;
  width: 80%;
  padding: 1em 0;
  color:hsl(0, 0%, 100%);
  background-color:  hsl(158, 36%, 37%);;
  border: 0;
  border-radius: 0.7em;
  outline: none;
  cursor: pointer;
}

button:hover{
  background-color: hsl(156, 24%, 24%);
}

button img{
  margin-right: 1em;
  max-width: 100%;
}
