*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  /* overflow-y:auto; */
  overflow-x: hidden;
  perspective: 10px;
}

.container{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,.foreground{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index : -1;
}

.background{
  transform: translateZ(-40px) scale(6);
}

.foreground{
  transform: translateZ(-20px) scale(3);
}
h1{
  position: absolute;
  top:5rem;
  font-family:Poppins;
  font-weight: 700;
  left:50%;
  transform: translateX(-50%);
  letter-spacing: 4px;
  font-size: 10rem;
  color:white;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.Adv{
  font-size:5rem;
  padding:0 10rem;
  font-family: Poppins;
  font-weight: 700;
}

section{
  background-color: rgb(45,45,45);
  color:white;
  padding:5rem;
}

.heading{
  position:absolute;
  background-color:whitesmoke;
  padding:0.5rem 2.5rem;
  color:black;
  font-size:3.5rem;
  font-family:Poppins;
  font-weight: 700;
  top:50%;
  left:50%;
  transform: translateX(-95%);
  border-radius: 5rem;
}

.bg1{
  background-image: url(images/sport-1.jpg);
}

.bg2{
  background-image: url(images/pllx.jpg);
}

.bg3{
  background-image: url(images/sport-3.jpg);
}

.text{
  font-size: 1.5rem;
  padding:0 10rem;
  margin:5rem 0;
  font-family:Raleway;
  font-weight: 600;
}

.bg{
  position:relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size:cover;
  background-position:center;
}

