*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: #e84949;
  padding:1rem 3rem;
  position:relative;
  color:white;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size:0.1rem;
  letter-spacing: 0.1em;
  font-size:1rem;
  border:none;
  border-radius:0.5em;
  box-shadow: 0.5rem 0.5rem 0.2rem wheat;
  transition: all 0.5s;
  cursor:pointer;
}
